{% extends "layout.html" %}

{% block body %}

<p>Adding shows is for admins only! <br>Users choose from the show masterlist to create their own WatchList entries.</p>
<p>(Admin restrictions not yet implemented)</p>

<br>
<h2>Add a show</h2>
<div name=addShow style="margin:auto; align-self: start;">
    <form method=post>
        <ul>
            <li>Show title: <input type=text name=title value="{{request.form.title }}"></li>
        </ul>
    <p><input type="submit" value="Add show">
    </form> <br>
</div>


<h3>Show masterlist</h3>
<table name=shows style="display:grid; align-content:center; text-align:left; margin-left:6em;">
{%for item in showlist%}
    <tr>
        <th> {{item[0]}} </th>
    </tr>
{% endfor %}
</table>

<a href="{{ url_for('user_get_all_entries') }}">Back to my list</a>



{% endblock %}
