{% extends "layout.html" %}

{% block body %}
    {% block h1%}
    <h1>Login</h1> <br>
    {%endblock%}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <br>
    <div name=loginform style="margin:auto;">
        <form method=post>
            <ul>
                <li>Email: <input type=text name=email value="{{request.form.email }}"></li>
                <li>Password: <input type=password name=password value="{{request.form.password}}"></li>
            </ul>
        <p><input type=submit value=Log in>
        </form> <br>
    </div>

  <a href="{{ url_for('user_register') }}">Register an account</a>
{% endblock %}
